*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.f22__stories {
   border-radius: 50%;
   margin-left: 10px;
   text-align: center;
   cursor: pointer;
   
}
.f22__stories img  {
   border-radius: 50%;
   border:  1px solid #CEB38E   ;
   padding: 4px;
}

h6 {
   font-size: 10px;
}

.styles {
  display: none;
  overflow: scroll;
}

.plugin__header {
  position: absolute;
    z-index: 2147483647;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 10px;
   padding: 10px;
   align-items: center;

}

.plugin__header__img {
   width: 34px;
   height: 34px;
  border-radius: 50%;
  margin-right: 8px;
}


.plugin_icon {
  z-index: 10000000000000000000;
  background: yellowgreen;
  margin-bottom: 10px;
  border-radius: 50%;
  margin-right: 3px;
}